# Welcome to Jekyll!
#
# This config file is meant for settings that affect your whole blog, values
# which you are expected to set up once and rarely edit after that. If you find
# yourself editing this file very often, consider using Jekyll's data files
# feature for the data you need to update frequently.
#
# For technical reasons, this file is *NOT* reloaded automatically when you use
# 'bundle exec jekyll serve'. If you change this file, please restart the server process.

# Site settings
# These are used to personalize your new site. If you look in the HTML files,
# you will see them accessed via {{ site.title }}, {{ site.email }}, and so on.
# You can create any custom variable you would like, and they will be accessible
# in the templates via {{ site.myvariable }}.
title: AICLAB
url: "https://aiclab-official.github.io/"
baseurl: ""
description: >- # this means to ignore newlines until "baseurl:"
  Inspiring the Next Generation of FPGA, ASIC, and Digital Circuit Design Engineers. From 0 and 1 to ∞.


twitter_username: aiclab_official
github_username: aiclab-official
minimal_mistakes_skin: default
search: true

# Build settings
markdown: kramdown
remote_theme: mmistakes/minimal-mistakes
# Outputting
permalink: /:categories/:title/
timezone: # https://en.wikipedia.org/wiki/List_of_tz_database_time_zones

############################################################
# Site configuration for Jekyll Paginate V2
############################################################
pagination:
  enabled: true
  per_page: 6
  permalink: '/page/:num/'
  title: ' - Page :num'
  limit: 0
  sort_field: 'date'
  sort_reverse: true
  collection: 'posts'
  trail:
    before: 2
    after: 2
  extension: html
  indexpage: 'index'

# Disable autopages to avoid layout errors
autopages:
  enabled: false

mathjax:
  enable: true  # Enable MathJax globally
  combo: "tex-svg"  # Use TeX as input and SVG as output (recommended)
  tags: "ams"  # Use AMS-LaTeX tags

include:
  - _pages

# Exclude from processing.
# The following items will not be processed, by default. Create a custom list
# to override the default setting.
# exclude:
#   - Gemfile
#   - Gemfile.lock
#   - node_modules
#   - vendor/bundle/
#   - vendor/cache/
#   - vendor/gems/
#   - vendor/ruby/

# Plugins (previously gems:)
plugins:
  - jekyll-paginate-v2
  - jekyll-sitemap
  - jekyll-gist
  - jekyll-feed
  - jemoji
  - jekyll-include-cache

author:
  name   : "AICLAB"
  avatar : "/assets/images/AICLAB.png"
  bio    : "Digital Circuit Design, FPGA, and ASIC Design Education"
  links:
    - label: "Website"
      icon: "fas fa-fw fa-link"
      url: "https://aiclab-official.github.io/"
    - label: "Twitter"
      icon: "fab fa-fw fa-twitter-square"
      url: "https://x.com/aiclab_official"
    - label: "GitHub"
      icon: "fab fa-fw fa-github"
      url: "https://github.com/aiclab-official"
    - label: "LinkedIn"
      icon: "fab fa-fw fa-linkedin"
      url: "https://www.linkedin.com/company/aiclab-official/"
    - label: "YouTube"
      icon: "fab fa-fw fa-youtube"
      url: "https://www.youtube.com/@AICLAB-official"

footer:
  links:
    - label: "LinkedIn"
      icon: "fab fa-fw fa-linkedin"
      url: "https://www.linkedin.com/company/aiclab-official/"
    - label: "Twitter"
      icon: "fab fa-fw fa-twitter-square"
      url: "https://x.com/aiclab_official"
    - label: "GitHub"
      icon: "fab fa-fw fa-github"
      url: "https://github.com/aiclab-official"
    - label: "YouTube"
      icon: "fab fa-fw fa-youtube"
      url: "https://www.youtube.com/@AICLAB-official"
  copyright: "© 2025 AICLAB. All rights reserved."

defaults:
  # _posts
  - scope:
      path: ""
      type: posts
    values:
      layout: single
      author_profile: true
      read_time: true
      comments: true
      share: true
      related: true
  # _pages
  - scope:
      path: "_pages"
      type: pages
    values:
      layout: single
      author_profile: true
  # _systemverilog
  - scope:
      path: ""
      type: systemverilog
    values:
      layout: single
      author_profile: true
      share: true
      comments: true
      toc: true
      toc_sticky: true
      related: true

category_archive:
  type: liquid
  path: /categories/
tag_archive:
  type: liquid
  path: /tags/

# Collections for different content types
collections:
  systemverilog:
    output: true
    permalink: /:collection/:path/
  sta:
    output: true
    permalink: /:collection/:path/